
body
{
    background-color: #7ca5dd;
    height: 650px;
}

.container
{
    height: 650px;
    width:950px;
    margin: 0 auto;
    opacity: 1;
    margin-top: 20px;
    margin-bottom: 20px;
}   



.menu
{
    width: 600px;     
    height: 70px;  
     
    font-size: 1.4em;
font-family: monospace;
text-align:right;
margin: 0 auto;



}



a
{
    text-decoration: none;
    color:black;
}

a:hover {
  color: #2f4e67 ;
  
}



.box1
{
    width: 48%;
    float: left;
    height: 500px;
   font-family: monospace;
   font-size: 1.3em;
   
    
    background-color: white;
    
   border-radius: 50%;
    behavior: url(PIE.htc);

-webkit-box-shadow: 0px 0px 5px 0px rgba(255,255,255,1);
-moz-box-shadow: 0px 0px 5px 0px rgba(255,255,255,1);
box-shadow: 0px 0px 5px 0px rgba(255,255,255,1);

}

.box2
{
    width: 48%;
    float:right;
    height: 500px;
    font-family: monospace;
    margin: 0 auto;
    
        background-color: white;
        font-size: 1.3em;
       
         border-radius: 50%;
    behavior: url(PIE.htc);

-webkit-box-shadow: 0px 0px 5px 0px rgba(255,255,255,1);
-moz-box-shadow: 0px 0px 5px 0px rgba(255,255,255,1);
box-shadow: 0px 0px 5px 0px rgba(255,255,255,1);

}



.clic{
    
    text-align: center;
    padding-top: 20px;
    font-family: monospace;
    
    
}

#footer{
    font-size: .8em;
    
    margin: 0 auto;
    font-family: 'arial', sans-serif;
    width: 400px;
    text-align: center;
}